* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  height: 100vh; /* 100vh means 100% of the Viewport Height */
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.layout {
  height: 100vh;
}

.top-bar{
  height: 90px;
}

.bottom-player{
  height: 90px;
}

.mid-section{
  flex: 1;
}

.side-bar{
  width: 300px;
}

.home{
  flex: 1;
}

